body {

  background-color: lightskyblue;
}

ul {
  list-style-type: none;
  overflow: :hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: lightcyan;
}