<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  overflow: :focus-visible;
  background-color:blue;
}

li {
  float: left;
}

li a {
  display: block;
  color: lightcyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}
</style>
</head>
<body>

</body>
</html>
