body {

  background-color: azure;
}

ul {
  list-style-type: none;
  overflow: :focus-visible;
  background-color: blu;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: lightcyan;
}